<!DOCTYPE html>
<html>
  <head>
    <title>Quiz Dashboard</title>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

  </head>

  <body>
    <header class="header">
      <h1>Videotechnologie QUIZ</h1>
    </header>
	
	<section id="control" class="control">
	  <label>Control flow:</label>
	  <div class="controlFlow">
		<button id="buttonWaiting" type="button">Waiting</button> >>
		<button id="buttonReady" type="button">Ready</button> >> 
		<button id="buttonActive" type="button">Active</button> >>
		<button id="buttonFinished" type="button">Finished</button> >>
		<button id="buttonResults" type="button">Results</button><br/>
		<button id="addScores" type="button">Add Scores</button>
	  </div>
	  <fieldset>
	    <legend>Current Question</legend>
		<input type="hidden" id="id" value="0" />
		<div id="mediaButtons"></div>
		<label for="title">Title:</label>
		<input type="text" id="title" class="playerName" />
		<label for="question">Question:</label>
		<input type="text" id="question" class="playerName" /><br/>
		<label for="round">Round:</label>
		<input type="text" id="round" class="playerName" /><br/>
		<label for="category">Category:</label>
		<input type="text" id="category" class="playerName" /><br/>
		<label for="questionmode">Mode:</label><br/>
	    <select id="questionmode">
		  <option value="multiple">Multiple Choice</option>
		  <option value="multifirst">Multiple Choice and Fastest Wins</option>
		  <option value="multisteal">Multiple Choice and Stealing Points
		  <option value="buzzer">Buzzer</option>
		  <option value="inorder">In order</option>
	    </select><br/>
		<div id="solutionMultiWrapper">
		  <label>Answers:</label>
		  <div class="answerWrapper">
			<input type="radio" name="questionanswer" value="blue" class="radio">
			<input type="text" id="answerBlue" class="answer blue" />
		  </div>
		  <div class="answerWrapper">
			<input type="radio" name="questionanswer" value="orange" class="radio">
			<input type="text" id="answerOrange" class="answer orange" />
		  </div>
		  <div class="answerWrapper">
			<input type="radio" name="questionanswer" value="green" class="radio">
			<input type="text" id="answerGreen" class="answer green" />
		  </div>
		  <div class="answerWrapper">
			<input type="radio" name="questionanswer" value="yellow" class="radio">
			<input type="text" id="answerYellow" class="answer yellow" />
		  </div>
		</div>
		<div id="solutionOrderWrapper">
		  <label>Solution order:</label><br/>
		  <select id="solutionOrder0" class="colorPick" style="width: 50px; height: 30px;">
		    <option value="blue"></option>
		    <option value="orange"></option>
		    <option value="green"></option>
		    <option value="yellow"></option>
	      </select>
		  <select id="solutionOrder1" class="colorPick" style="width: 50px; height: 30px;">
		    <option value="blue"></option>
		    <option value="orange"></option>
		    <option value="green"></option>
		    <option value="yellow"></option>
	      </select>
		  <select id="solutionOrder2" class="colorPick" style="width: 50px; height: 30px;">
		    <option value="blue"></option>
		    <option value="orange"></option>
		    <option value="green"></option>
		    <option value="yellow"></option>
	      </select>
		  <select id="solutionOrder3" class="colorPick" style="width: 50px; height: 30px;">
		    <option value="blue"></option>
		    <option value="orange"></option>
		    <option value="green"></option>
		    <option value="yellow"></option>
	      </select>
		</div>
		<div id="solutionBuzzerWrapper">
		  <label for="solutionBuzzer">Solution Buzzer:</label><br/>
		  <input type="text" id="solutionBuzzer" /><br/>
		</div>
		<label for="questionscore">Score:</label><br/>
		<input type="number" min="0" id="questionscore" /><br/>
		<label for="scoreMinus">Minus score:</label><br/>
		<input type="number" min="0" id="scoreMinus" /><br/>
		<label for="scoreArray">Score array:</label><br/>
		<input type="text" min="0" id="scoreArray" /><br/>
		<label for="timer">Timer:</label><br/>
		<input type="number" min="0" id="timer" /><br/>
		<label for="remarks">Remarks:</label><br/>
		<textarea id="remarks" rows="5" class="textArea"></textarea><br/>
		<button id="previousQuestion" type="button">&lt;</button>
		<button id="updateQuestion" type="button">Update</button>
		<button id="nextQuestion" type="button">&gt;</button>
		<button id="newQuestion" type="button">Save as New</button><br/>	
      </fieldset>
	  <fieldset>
		  <legend>Settings</legend>
		  <label for="numberPlayers">Number of players:</label>
		  <input type="number" min="0" id="numberPlayers" /><br/>
		  <input type="checkbox" id="flashing" />
		  <label for="flashing">Flashing</label><br/>
		  <input type="checkbox" id="buzzerSounds" />
		  <label for="buzzerSounds">Buzzer Sounds</label><br/>
		  <button id="openScoresPanel" type="button">Open Scores Panel</button>
		  <button id="openQuestionsPanel" type="button">Open Questions Panel</button>		  
	  </fieldset>
	</section>
	
	<section id="panels" class="container">
	</section>
	
	<label for="moveTo">Move selected question to: </label>
	<input type="number" id="moveTo" />
	<label for="rounds">Filter rounds: </label>
	<select id="rounds">
		<option value="none">None</option>
	</select>
	<button id="delete" name="Delete">Delete</button>	

	<section id="questions">
	</section>

    <section>
      <div id="change_username">
	    <input id="username" type="text" />
	    <button id="send_username" type="button">Change username</button>
      </div>
    </section>
	
    <section id="chatroom">
      <section id="feedback"></section>
    </section>

    <section id="input_zone"> 
      <input id="message" class="vertical-align" type="text" />
      <button id="send_message" class="vertical-align" type="button">Send</button>
    </section>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="dashboard.js"></script>
  </body>
</html>