<!DOCTYPE html>
<html>
  <head>
    <title>Quiz Scoreboard</title>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="scoresStyle.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  </head>

  <body>
	<section id="panels" class="container">
	</section>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="scores.js"></script>
  </body>
</html>