@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
	background-image: url('media/meetTheBeatlesh.jpg');
	background-position: center; /* Center the image */
	background-repeat: no-repeat;
	background-size: auto 100%;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
}

img {
  display: block;
  padding: 10px;
  max-width:90%;
  max-height:90%;
  width: auto;
  height: auto;
    margin-left: auto;
  margin-right: auto;
}

.singleContainer {
	height: 100%;
	padding: 15px;
	margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;	
}

.stateContainer {
	height: 100%;
	padding: 15px;
	margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;	
}

.multipleContainer {
	height: 100%;
	padding: 15px;
	margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;	
}

.question {
	grid-column: 1 / 3;
	padding: 5px;
	height: 100%;
    margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
    font-size: 40px;
	font-family: 'Comfortaa', sans-serif;
	text-align: center;
}

.answer, .answermulti {
	padding: 5px;
	height: 100%;
    margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
    font-size: 40px;
	font-family: 'Comfortaa', sans-serif;
	text-align: center;
	border-radius: 50px;
}


.solutionMultiWrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.answermulti {
	display: block;
	height: auto;
	width: 60%;
}

.blue {
	color: white;
	background-color: blue;
}

.orange {
	color: white;
	background-color: orange;
} 

.green {
	color: white;
	background-color: green;
}

.yellow {
	color: black;
	background-color: yellow;
}

/* Style the video: 100% width and height to cover the entire window */
#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.questionRound {
	grid-column: 1 / 2;
	justify-content: left;
}

.questionNumber {
	grid-column: 2 / 2;	
	justify-content: flex-end;
}

.questionMode {
	font-size: 80px;
	text-shadow: 2px 2px #ffffff;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.questionPlus {
	grid-column: 1 / 2;
	justify-content: center;
	background-color: green;
	color: white;
}

.questionMinus {
	grid-column: 2 / 2;
	justify-content: center;
	background-color: red;
	color: white;
}