@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
}

.container {
	margin: 0px;
    display: grid;
	height: 100%;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
}

.player {
  text-align: center;
  border-style: dashed;
  border-width: 1px;
  padding: 5px;
}

.playerName {
	height: 25%;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1abc9c;
	color: white;
	font-weight: bold;
    font-size: 30px;
	font-family: 'Comfortaa', sans-serif;
    margin: 0px;
}

.playerField, .score, .scoreDelta, .scoreWrapper, .statusWrapper {
	height: 75%;
    margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
    font-size: 100px;
	font-family: 'Comfortaa', sans-serif;
}

.playerRank {
	font-weight: bold;
    font-size: 200px;
	font-family: 'Comfortaa', sans-serif;
    margin: 0px;	
}

.counter {
	border-style: dashed;
	border-width: 1px;
	padding: 5px;
	height: 100%;
    margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
    font-size: 40px;
	font-family: 'Comfortaa', sans-serif;
	text-align: center;
}

.scoreWrapper {
    overflow: hidden; /* will contain if #first is longer than #second */	
}

.score {
	height: 100%;
	width: 100%;
    float:left; /* add this */
}
.scoreDelta {
	height: 100%;
	width: 50%;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

.orderWrapper {
	height: 75%;
    overflow: hidden; /* will contain if #first is longer than #second */
	display: flex;
	justify-content: center;
	align-items: center;
}

.order {
	width: 25%;
	height: 25%;
	border-radius: 25px;
	float: left;
}

.blue {
	color: white;
	background-color: blue;
}

.orange {
	color: white;
	background-color: orange;
} 

.green {
	color: white;
	background-color: green;
}

.yellow {
	color: black;
	background-color: yellow;
}
