@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
}

label {
	color: darkblue;
	font-family: 'Comfortaa', sans-serif;
	font-size: 15px;
	font-style: italic;
}

div#change_username, section#input_zone {
/*    border: 5px outset #8258FA;*/
}

div#change_username {
    height: 3%;
    display: inline-block;
	padding: 5px;
}

section#chatroom, section#questions {
    border-style: solid;
    border-width: 1px;
    height: 30%;
    overflow: auto;
	margin: 5px;
}

section#input_zone {
    height: 7%;
    text-align: center;
}

input#username {
    font-family: 'Comfortaa', sans-serif;
}

input#message {
    display: inline-block;
    width: 88%;
    height: 70%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2vh;
}

button#send_message {
    display: inline-block;
    height: 70%;
    width: 10%;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.control {
  margin: 5px;
}

p.message, p.question {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}

.question:nth-child(even) {
    background-color: #81DAF5;
}

.question:nth-child(odd) {
    background-color: #81BEF7;
}

.container {
	margin: 5px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
}

.player {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.playerName {
	width: 100%;
	background: transparent;
    border: none;
    font-size: 22px;
	font-family: 'Comfortaa', sans-serif;
    margin: 0px;
}

.blue {
	color: white;
	background-color: blue;
}

.orange {
	color: white;
	background-color: orange;
} 

.green {
	color: white;
	background-color: green;
}

.yellow {
	color: black;
	background-color: yellow;
}

.answerWrapper {
	overflow: hidden;
}

.radio {
	margin: 10px;
	float:left;
}

.answer {
	width: 80%;
	border: none;
	padding: 5px;
	font-size: 20px;
	overflow: hidden;
}

.textArea {
	width: 90%;
	font-size: 25px;
}

.colorPick option[value="blue"] {
	color: white;
	background-color: blue; 
}

.colorPick option[value="orange"] {
	color: white;
	background-color: orange;   
}

.colorPick option[value="green"] {
	color: white;
	background-color: green;  
}

.colorPick option[value="yellow"] {
	color: black;
	background-color: yellow;  
}

.colorPicka:hover {
  background-color: yellow;
}

input[type="number"] {
   width:40px;
}